.link {
  color: var(--donarity-green);
  position: relative;
  text-decoration: none;
  font-weight: 700;
}
.link:hover {
  color: var(--donarity-green);
  text-decoration: none;
}
.link.right:hover::after {
  transform: translateX(150%);
}
.link.right::after {
  content: '';
  position: absolute;
  right:0;
  top:35%;
  height:40%;
  width:20px;
  transform: translateX(145%);
  background: url("/arrow.svg") no-repeat;
}
.link.left:hover::before {
  transform: translateX(-150%) rotate(180deg);
}
.link.left::before {
  content: '';
  position: absolute;
  left:0;
  top:35%;
  height:40%;
  width:20px;
  transform: translateX(-145%) rotate(180deg);
  background: url("/arrow.svg") no-repeat;
}