/* Set min-height to avoid page reflow while session loading */
.navBar {
    background-color: var(--donarity-light-gray);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
    padding: 5px 5%;
}

.navBar .title {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    font-weight:800;
    color: var(--donarity-green);
}
.links {
  margin-left: auto;
}
.navBar .title:hover {
  color: var(--donarity-green-darkened);
}

.navBar .links .navLink {
  color: var(--donarity-green);
}

.navBar .links .navLink:hover {
  color: var(--donarity-green-darkened);
}

.navBar button {
  color: #FFFFFF;
  background-color: var(--donarity-green);
  border-color: var(--donarity-green);
}
  
.navItems {
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}

.curve {
  background-color:var(--donarity-light-gray);
  width:100%;
  height:20px;
  border-bottom-left-radius:100%;
  border-bottom-right-radius:100%;
  transform: translateY(-50%);
  position:fixed;
  z-index: 1000;
}

.active {
  font-weight: 700;
}