.recurringDonationTile {
  margin: 20px 0;
}

.recurringTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.save {
  margin: 20px 0;
}

.save button {
  margin-right: 20px;
}

.confirmParent > * {
  margin: 2em 2em;
}

.confirmYes {
  margin-left: 0em;
  margin-right: 1em;
}
.confirmCancel {
  margin: 0 1em;
}
.deletedItems {
  color: red;
}
.editedItems {
  color: orange;
}