.donateButtons {
  margin: 50px 0;
  display: flex;
  flex-flow: row wrap;
}

.donateButtons > * {
  margin-right: 20px;
  margin-bottom: 20px;
}

.extraInfo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: -25px;
}

.extraInfo > * {
  margin: 25px;
}

.extraInfo h2 {
  font-weight: 700;
}

.extraInfo a {
  display: block;
}

.projectsSection {
  margin: 50px 0;
}