html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif; 
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --donarity-green: #40b661;
  --donarity-light-gray: #ededed;
  --donarity-dark-gray: #a5a5a5;
}

* {
  box-sizing: border-box;
}
